<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>helloworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57EAB3371C1AB74400E404A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57EAB3501C1AB74500E404A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57EAB35B1C1AB74500E404A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
